/* App.css */
body, html, #root, .App {
    font-family: "BasierSquare-Regular", Arial, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tag-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding-top: 100px; /* Adjust based on header height */
    overflow-y: auto; /* Enable vertical scrolling */
}

@font-face {
    font-family: 'BasierSquare-Regular';
    src: url('./fonts/BasierSquare-Regular.woff2') format('woff2'),
    url('./fonts/BasierSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasierSquare-Medium';
    src: url('./fonts/BasierSquare-Medium.woff2') format('woff2'),
    url('./fonts/BasierSquare-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BasierSquare-SemiBold';
    src: url('./fonts/BasierSquare-SemiBold.woff2') format('woff2'),
    url('./fonts/BasierSquare-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
