/* styles/Container.css */
.container {
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative; /* To position tags inside the container */
    background-color: #FEDA14;
}

.container.expanded {
    grid-column: span var(--grid-span); /* Dynamically span columns */
    grid-row: span var(--row-span); /* Span rows based on grid size */
    height: auto; /* Adjust height to fit content */
}

.tags {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    margin: 2px;
}
