/* Grid.css */
.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 70px; /* Adjust based on header height */
    box-sizing: border-box;
    background-color: #ffffff;
}

.grid {
    display: grid;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.grid-4x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto); /* Ensure grid items are of equal size */
}

.grid-8x8 {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto); /* Ensure grid items are of equal size */
}

.grid-16x16 {
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: minmax(25px, auto); /* Ensure grid items are of equal size */
}
