/* styles/Header.css */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #263571; /* Set background color */
    color: #ffffff;
    font-family: "BasierSquare-Medium", Arial, serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

.header-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.custom-form-control .MuiFormLabel-root {
    color: white;
}

.custom-form-control .MuiFormLabel-root.Mui-focused {
    color: white;
}

.custom-form-control .MuiInputLabel-root {
    color: white;
}

.custom-form-control .MuiInputBase-root {
    color: white;
}

.custom-form-control .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.custom-form-control .MuiSvgIcon-root {
    color: white;
}

.custom-form-control .MuiInputLabel-root.Mui-focused {
    color: white;
}

.custom-form-control .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.custom-form-control .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.custom-radio-group .MuiFormControlLabel-label {
    color: white;
}

.custom-checkbox .MuiCheckbox-root {
    color: white;
}

.custom-checkbox .MuiListItemText-primary {
    color: white;
}
